<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XLegend's book</title>
    <style>
        body{
            background-color: #1a1a1a;
            color: #00f7ff;
            text-shadow: #00f7ff;
            font-family: monospace;
        }
        .section{
            border: #00f7ff 0.2px solid;
            border-radius: 5px;
            
        }
    </style>
</head>
<body>
   <h6>i hope someone finds this</h6>
   <div class="section">
    <p>I FOUGHT ALIENS DEMONS MONSTERS AND SERIAL KILLERS JUST TO SAVE THIS UNIVERSE DONT GO TO WORLD UNKNOWN TRUST ME YOU WONT GET OUT ALIVE YOU WILL GET REBORN IF U DIE TRUST ME I BEG YOU READER FOR YOUR OWN SAKE</p>
   </div>
   <div class="section"><p>Spells for magic users: TICK TACK TOCK stops your enemy for 2 rounds . FLINGITY BREAKITY SMASHITY flings breaks and smashes target and the strongest SUMMONITY LEGENDARITY XITY summons me yes me  </p></div>
   <div class="section"><p>Places for swordsmen that give them insane swords : Trick's hideout dont go to Any of their directions go to right bottom of section 5 u will find LEAD TERMINATOR is made out of lead terminates anything in a couple of minutes finally END OF TIMES : WORLD UNKOWN : final enemy spare him he will give you the BLADE OF EXTINCTION</p></div> 
<p>more parts of this book are scattered across XFour</p>
</body>
</html>